.destination-heading {
    padding-bottom: 50px;
    text-align: center;
}

.destination-heading h2 {
    margin-bottom: 10px;
}
.space-y-4 input {
    outline: none;
}
.d-none{
    display: none;
}
/* Buttons style */

/* Default (Active Button) */
.whatsapp-btn {
  background-color: #25D366;
  cursor: pointer;
  opacity: 1;
}

/* Disabled State */
.whatsapp-btn:disabled {
  background-color: #25D366; /* keep same color if you want */
  opacity: 0.4;
  cursor: not-allowed;
}

.email-btn{
  background-color: #EA4335;
  cursor: pointer;
  opacity: 1;
}
.email-btn:disabled {
  background-color: #EA4335; /* keep same color if you want */
  opacity: 0.4;
  cursor: not-allowed;
}


/* Optional: Active click effect */
.email-btn:active:not(:disabled),
.whatsapp-btn:active:not(:disabled) {
  transform: scale(0.97);
}

/* Fix for Mobile Safari
.email-btn:disabled,
.whatsapp-btn:disabled {
  -webkit-appearance: none;
} */